@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* { 
    margin: 0;
    box-sizing: border-box;
}
.headerContainer{
    background-color: rgb(105, 136, 238);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 110px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.headerTitle{
    margin: 15px;
    font-size: 38px;

}
.cvForm{
    background-color: bisque;
    width: 50%;
    height: 80vh;
    margin: 28px;
}
.cvForm input{
    display: flex;
    margin: 15px;
}