@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* { 
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7e0e0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.headerContainer{
    background-color: #6988ee;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fdd6c7;
}
.headerTitle{
    margin: 15px;
    font-size: 38px;

}
.formContainer{
    display: flex;
}
.cvForm{
    padding: 8px;
    background-color: #727baf;
    color: #ffc4ad;
    border-radius: 5px;
    width: 50%;
    height: 85vh;
    margin: 28px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cvPreview{
    color: #ffc4ad;
    padding: 8px;
    background-color:#8992ad;
    border-radius: 5px;
    width: 50%;
    height: 85vh;
    margin: 28px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card{
    margin: 10px 18px;
    font-size: 16px;
}
.card-name{
    font-size: 45px;
    color: #f7e8e2;
}
.nameContainer{
    margin: 5px 0;
}
.addressDisplay{
    margin: 5px 0;
}
input{
    display: flex;
    margin: 15px 5px;
    width: 28%;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
}
.experiencePrevTitle{
    margin: 15px;
    text-decoration: underline;
    color: #f7e8e2;
}
.experience{
    margin: 5px 0;
}
.expPosition{
    color: #f7e8e2;;
}
.experienceInform{
    margin: 15px;
}